<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924579769424-ed08gcafu2p881jccb7uv71ul9k3f87e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924579769424-ed08gcafu2p881jccb7uv71ul9k3f87e</string>
	<key>API_KEY</key>
	<string>AIzaSyAfjEZ55crseZkv7-14waHTprPTrsveW0A</string>
	<key>GCM_SENDER_ID</key>
	<string>924579769424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.keyedin.clientapp</string>
	<key>PROJECT_ID</key>
	<string>keyedin-client</string>
	<key>STORAGE_BUCKET</key>
	<string>keyedin-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924579769424:ios:fb3e07d06ca65c2682b555</string>
</dict>
</plist>